<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Reports by dates</h1>

<div>
  <canvas id="ChartByDate" width="750" height="750"></canvas>
</div>

<script>
    const ctx = document.getElementById('ChartByDate');

    const data = {
        labels: [],
        datasets: [
            {
            label: 'Incomes',
            data: [],
            fill: false,
            borderColor: 'rgb(0, 204, 0)',
            tension: 0.1
            },

            {
                label: 'Expenses',
                data: [],
                fill: false,
                borderColor: 'rgb(204, 0, 0)',
                tension: 0.1
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
    };

    const ChartByDate = new Chart(ctx, config);

</script>